body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 5px 5px;
    height: 50px;
    color: white;
}

nav > img {
    height: 45px;
    margin-right: 10px;
}

