body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E5340;
    padding: 5px 5px;
    height: 50px;
    color:#E2E8DD;
}

nav > img {
    height: 45px;
    margin-right: 10px;
}

